<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<H2>Day la danh sach nhan vien theo ten</H2>
<form th:object="${employee}" method="post" th:action="@{/Client/actionGetName}">
    <label for="empName">Choose name:</label>
    <select name="empName" id="empName" th:field="*{id}">
        <option  th:each="emp :${lst}" th:value="${emp.id}" th:text="${emp.name}"></option>
    </select>
    <button type="submit">Choose</button>
</form>
<table border="1">

    <tbody>
    <tr>
        <th>Emp Id</th>
        <th>Emp name</th>
        <th>Emp birth date</th>
        <th>Emp role</th>
        <th>pro id</th>
        <th>pro name</th>

    </tr>
    <tr th:each="pro: ${list}">
        <td th:text="${pro.getEmp_id()}"></td>
        <td th:text="${pro.getEmp_name()}"></td>
        <td th:text="${pro.getBirthD()}"></td>
        <td th:text="${pro.getRole()}"></td>
        <td th:text="${pro.getPro_id()}"></td>
        <td th:text="${pro.getPro_name()}"></td>

    </tr>

    </tbody>
</table>
</body>
</html>